/* handle side bar placement in desktops */
.sideRoot {
  height: 100vh;
  max-width: 300px;
  width: 100%;
  pointer-events: none;
  filter: drop-shadow(-15px 0px 30px rgba(0, 0, 0, 0.4666666667));
}

/* make sidebar content root 100% and white */
.sideRootContentRoot {
  height: 100%;
  background-color: #4E9FFF;
  color: white;
  pointer-events: auto;
  overflow-y: scroll;
}

.canvasRoot {
  flex-grow: 1;
  position: relative;
}

/* make slide button disappear on desktop */
#slideButton {
  display: none;
}

/* styling the sidebar titles */
.sideBarTitleSection {
  text-align: center;
  padding: 1em;
}

.sideRootContentRoot svg {
  margin-bottom: 0.5em;
  max-width: 100%;
}

.banners {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; /* Standard */
  width: 80%;
  box-sizing: border-box;
  aspect-ratio: 10/4;
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.5em 0;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.banners:nth-child(1) {
  margin-top: 1em;
}
.banners:nth-child(4) {
  margin-bottom: 1em;
}
.banners:nth-child(2) {
  background-image: linear-gradient(to bottom, rgba(0, 81, 255, 0.4392156863), rgba(0, 81, 255, 0.4392156863)), url("assets/bannerImages/simpleToUse.webp");
}
.banners:nth-child(3) {
  background-image: linear-gradient(to bottom, rgba(0, 81, 255, 0.4392156863), rgba(0, 81, 255, 0.4392156863)), url("assets/bannerImages/kidProof.jpeg");
}
.banners:nth-child(4) {
  background-image: linear-gradient(to bottom, rgba(0, 81, 255, 0.4392156863), rgba(0, 81, 255, 0.4392156863)), url("assets/bannerImages/builtForTheClassroom.webp");
}

.sideRootBuySection {
  padding: 1em;
  gap: 1em;
}
.sideRootBuySection button {
  font-weight: 700;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
}

/* screen 800 px and below */
@media only screen and (max-width: 500px) {
  /* make body relateive */
  body {
    position: relative;
  }
  /* make canvas full screen */
  .canvasRoot {
    width: 100%;
  }
  /* make side root an overlay */
  /* also make side root overlay hold content root in center */
  .sideRoot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* make side root content root a max width 375 */
  .sideRootContentRoot {
    width: 100%;
  }
  /* make slide button appear on phones */
  #slideButton {
    display: flex;
    pointer-events: auto;
  }
  #sideRootSlider {
    position: relative;
    transition: 0.3s;
    top: 0;
    width: 100%;
  }
  .sideRootDown {
    top: 60vh !important;
  }
  .slideButtonRoot {
    color: white;
    gap: 0.5em;
    padding: 1em 0 1em 0em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5333333333));
  }
  .slideButtonRoot svg {
    height: 2em;
    transform-origin: 50% 50%;
    transition: 0.3s;
  }
  .slideButtonRoot .svgRotate {
    transform: rotate(180deg);
  }
}

/*# sourceMappingURL=sideBar.css.map */
