// common ar button for webxr
.arButtonVisuals{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    background-color: #4E9FFF;
    color: white;
    border-radius: 1em;

    padding: 1em;
    margin: 1em;

    font-size: 0.8em;

    width: fit-content;

    div{
      font-size: 0.8em;
    }
}

// spawn ar button
#spawnARButton{
  margin-bottom: 1em;
}

// styling the insructions
.arInstructions{
  background-color: rgba(0, 0, 0, 0.678);
  img{width: 10em;}
  padding: 1em;
  border-radius: 1.5em;
  color: white;
  div{width: 8em; text-align: center;}
}



// handling all different AR buttons
.arButtonsRoot{
  // placing the buttons
  display: flex; align-items: flex-end; justify-content: flex-start;

  user-select: none;

  // styling the buttons
  .arButton{
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    background-color: #4E9FFF;
    color: white;
    border-radius: 1em;

    padding: 1em;
    margin: 1em;

    font-size: 0.8em;

    width: fit-content;

    div{
      font-size: 0.8em;
    }
  }

  // for mobile screens 
  @media only screen and (max-width: 500px) {
    // make button placed at middle top
    justify-content: center; align-items: flex-start;
  }

  // qr code panel
  .qrPanelRoot{
    // positioning
    position: absolute;
    transform: translateY(-75%);
    padding: 1em;

    // sizing
    width: 13em;
    img{max-width: 100%;}

    // setup anim
    transition: 0.3s;
    opacity: 0;
  }
  // qr code hover
  #AR-QRCode:hover{
    cursor: pointer;
    .qrPanelRoot{opacity: 1;}
  }
}
