.labelDivHolder{
  width: 0; height: 0;
}

.labelRoot{
  // handle position
  position: absolute;

  // cursor stuff
  user-select: none;
  cursor: pointer;

  // make node white point
  .labelNode{
    width: 1.5em; height: 1.5em;
    background-color: white;
    border-radius: 50%;

    // text
    font-weight: 700;

    //outline
    outline: solid black 1px;

    //setup invis
    opacity: 1; 
    transition: 0.3s;
  }

  //handle hiding nodes
  &.invisible{
    .labelNode{
      opacity: 0;
      pointer-events: none;
    }
  }

  .labelTextPanel{
    position: absolute;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    width: 150px;

    // position to middle
    transform: translate(-50%, -120%);

    // setup animations
    transition: 0.3s;
    opacity: 0;

    h3{margin-bottom: 0.5em;}
  }

  &:hover{
    .labelTextPanel{
      opacity: 1;
    }
  }
}
