// import default styles
@use './defaultStyle.scss'; // make html use sensible defaults
@use './sideBar.scss';
@use './loader.scss';


/* fill screen */
html,body {height: 100vh; width: 100vw; max-width: 100%;}
html{overflow: clip;}
/* temporary for dev */
html{
  background: linear-gradient(to right, #FDD160, #FAA643),
} 



