// import default styles
@use './defaultStyle.scss'; // make html use sensible defaults
@use './sideBar.scss';
@use './loader.scss';
@use './label.scss';
@use './arButton.scss';


/* fill screen */
html,body {height: 100vh; width: 100vw; max-width: 100vw; max-height: 100vh;}
html{overflow: clip;}
/* temporary for dev */
html{
  background: linear-gradient(to right, #FDD160, #f7983f),
} 

// make canvas overlay relative position for labels
#canvasOverlay{
  position: absolute;
}

#canvasRoot{
  overflow: clip;
}

// *{
//   outline: solid 3px rgba(255, 0, 0, 0.3);
//   // background-color: rgba(255, 0, 0, 0.3);
// }
