/* fill screen */
html,body {height: 100vh; width: 100vw;}
/* temporary for dev */
html{background-color: grey;} 

/* handle side bar placement in desktops */
.sideRoot{
  height: 100vh;
  max-width: 30%;
  width: 100%;

  pointer-events: none;
}
/* make sidebar content root 100% and white */
.sideRootContentRoot{
  height: 100%;
  background-color: white;
}
.canvasRoot{
  flex-grow: 1;
}

/* make slide button disappear on desktop */
#slideButton{display: none;}





/* screen 800 px and below */
@media only screen and (max-width: 500px) {
  /* make body relateive */
  body{position: relative;}

  /* make canvas full screen */
  .canvasRoot{
    width: 100%;
  }

  /* make side root an overlay */
  /* also make side root overlay hold content root in center */
  .sideRoot{
    position: absolute;
    top:0; left: 0;
    width: 100%; max-width: 100%;
     
    display: flex;
    justify-content: center;
  }
   
  /* make side root content root a max width 375 */
  .sideRootContentRoot{
    max-width: 375px;
    width: 100%;
  }

  /* make slide button appear on phones */
  #slideButton{display: flex;}
}


/* styling the sidebar titles */
.sideBarTitleSection{
  text-align: center;
  padding: 1em
}